<div>
    <div class="flex justify-center">
        <ngb-pagination
        (pageChange)="onChangePage($event)" 
        [(page)]="queryParams.page"
        [pageSize]="queryParams.pageSize"
        [collectionSize]="count"
        />
    </div>
    <div class="grid grid-cols-4 gap-5">
        <div class="col-span-3 flex flex-col gap-5">
            <app-graphic-card-item *ngFor="let card of cards | async" [card]="card"></app-graphic-card-item>
        </div>
        <div *ngIf="cardID !== null" class="p-2">
            <app-graphic-comments [id]="cardID"></app-graphic-comments>
        </div>
    </div>
</div>

