<form [formGroup]="graphicForm" (ngSubmit)="onSubmit()" class="px-2 w-[70%] mx-auto flex flex-col gap-2">
    <div class="flex flex-col">
        <label for="name" class="text-lg">Name</label>
        <input class="border-2 p-2 rounded-md" type="text" id="name" formControlName="name" required autocomplete="off"
            placeholder="Name">
    </div>
    <div class="flex flex-col">
        <label for="text" class="text-lg">Comment</label>
        <textarea id="text" cols="30" rows="3" class=" border-2 p-2 rounded-md" formControlName="text" required
            autocomplete="off" placeholder="Comment"></textarea>
    </div>
    <div class="flex">
        <button class="text-white px-5 py-2 rounded-md bg-blue-500" type="submit" [disabled]="!graphicForm.valid"
            [ngStyle]="{'background-color':  !graphicForm.valid ? '#93C5FD' : '#3B82F6' }">
            Submit
        </button>
    </div>
</form>